@charset "utf-8";
/* CSS Document */
@media (max-width: 1024px) {
	
}
@media (max-width:992px) {
	.top-phn-ml ul {
    display: flex;
    justify-content: center;
}
.logo {
    padding-top: 13px;
    text-align: center;
}
.typeslider {
    font-size: 40px;
    font-family: Nunito-SemiBold;
    color: #fc3d6a;
    display: block;
}
.wht {
    padding-left: 0px;
    color: #fff;
    font-family: Nunito-SemiBold;
}
.typeslider p {
    margin: 0;
}
}
@media (max-width:980px) {
	
}
@media (max-width:812px) {	
	
}
@media (max-width:768px) {
}
@media (max-width:767px) {
}
@media (max-width:480px) {
	
}
@media (max-width:414px) {
}

@media (max-width:375px) {
}